In [1]:
## train

import pandas as pd
import json

## data1
file_path1 = "/data/jaesung/llm_for_diabetes/src/data/data1_diabetes/train_instruction_dataset_v11.json"
with open(file_path1, 'r', encoding='utf-8') as f:
    data1 = json.load(f)

data1 = pd.DataFrame(data1)

data1 = data1[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data1.head(2)

,dataset,split_data,task,instruction,input,output
0,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 42-year-old woman presents to the emergency ...,D) Ursodeoxycholic acid
1,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 69-year-old man presents to his dermatologis...,B) Immunosuppression

In [2]:

## data2 - dfh info
file_path21 = "/data/jaesung/llm_for_diabetes/src/data/data2_daily_diets/dfh_instrution_dataset_v3.json"
with open(file_path21, 'r', encoding='utf-8') as f:
    data2_dfh = json.load(f)

data2_dfh = pd.DataFrame(data2_dfh)
data2_dfh['dataset'] = 'diabetes_food_hub'
data2_dfh['split_data'] = 'train'
data2_dfh['task'] = 'dfh_info'

data2_dfh = data2_dfh[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data2_dfh.head(2)

,dataset,split_data,task,instruction,input,output
0,diabetes_food_hub,train,dfh_info,Provide the nutrition facts for the given recipe.,Chicken Apple Crunch Salad,"Amount per serving: 230, Total Fat: 10g, Chole..."
1,diabetes_food_hub,train,dfh_info,List the measurements for all ingredients in t...,Chicken Apple Crunch Salad,- cooked chicken: 2 cup (473 ml)\n- Gala apple...

In [3]:
## data2 - daily_diets
file_path22 = "/data/jaesung/llm_for_diabetes/src/data/data2_daily_diets/daily_diets_drop_duplicated_and_sampled_train_instruction_dataset_v5.json"
with open(file_path22, 'r', encoding='utf-8') as f:
    data2_daily_diets = json.load(f)

data2_daily_diets = pd.DataFrame(data2_daily_diets)
data2_daily_diets['dataset'] = 'diabetes_food_hub'
data2_daily_diets['split_data'] = 'train'
data2_daily_diets['task'] = 'daily_diets'

data2_daily_diets = data2_daily_diets[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data2_daily_diets.head(2)

,dataset,split_data,task,instruction,input,output
0,diabetes_food_hub,train,daily_diets,Recommend a daily diet based on the given nutr...,Ensure the daily carbohydrate intake does not ...,"{'Breakfast': 'Parsley Dill Ricotta Dip', 'Lun..."
1,diabetes_food_hub,train,daily_diets,Recommend a daily diet that includes a specifi...,"Create a diet that includes boneless, skinless...","{'Breakfast': 'Parsley Dill Ricotta Dip', 'Lun..."

In [4]:
## data3 - alternative_diet
file_path3 = "/data/jaesung/llm_for_diabetes/src/data/data3_multimodal/version1/snapme_train_instruction_dataset_v6.json"
with open(file_path3, 'r', encoding='utf-8') as f:
    data3_alternative_diet = json.load(f)

data3_alternative_diet = pd.DataFrame(data3_alternative_diet)
data3_alternative_diet['dataset'] = 'diabetes_food_hub'
data3_alternative_diet['split_data'] = 'train'
data3_alternative_diet['task'] = 'alternative_diet'

data3_alternative_diet = data3_alternative_diet[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data3_alternative_diet.head(2)

,dataset,split_data,task,instruction,input,output
0,diabetes_food_hub,train,alternative_diet,"Based on the previous meal, suggest the next m...","Coffee, Latte, flavored",Bountiful Harvest Vegetable Salad is recommend...
1,diabetes_food_hub,train,alternative_diet,"Based on the previous meal, suggest the next m...","Coffee, Latte, flavored",Bountiful Harvest Vegetable Salad is recommend...

In [5]:
train = pd.concat([data1, data2_dfh, data2_daily_diets, data3_alternative_diet], axis=0)

In [6]:
## test

import pandas as pd
import json

## data1
file_path1 = "/data/jaesung/llm_for_diabetes/src/data/data1_diabetes/test_instruction_dataset_v11.json"
with open(file_path1, 'r', encoding='utf-8') as f:
    data1 = json.load(f)

data1 = pd.DataFrame(data1)

data1 = data1[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data1.head(2)

,dataset,split_data,task,instruction,input,output
0,medqa,test,qa_objective_1,Select the most appropriate answer for the giv...,A 67-year-old man presents to his primary care...,D) Methylmalonic acid level
1,medqa,test,qa_objective_1,Select the most appropriate answer for the giv...,A 37-year-old woman presents to the emergency ...,C) Sphincterotomy

In [7]:
## data2 - daily_diets
file_path22 = "/data/jaesung/llm_for_diabetes/src/data/data2_daily_diets/daily_diets_drop_duplicated_and_sampled_test_instruction_dataset_v5.json"
with open(file_path22, 'r', encoding='utf-8') as f:
    data2_daily_diets = json.load(f)

data2_daily_diets = pd.DataFrame(data2_daily_diets)
data2_daily_diets['dataset'] = 'diabetes_food_hub'
data2_daily_diets['split_data'] = 'test'
data2_daily_diets['task'] = 'daily_diets'

data2_daily_diets = data2_daily_diets[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data2_daily_diets.head(2)

,dataset,split_data,task,instruction,input,output
0,diabetes_food_hub,test,daily_diets,Recommend a daily diet based on the given nutr...,Ensure the daily carbohydrate intake does not ...,{'Breakfast': 'Pumpkin Quiche with Quinoa Crus...
1,diabetes_food_hub,test,daily_diets,Recommend a daily diet that includes a specifi...,Create a diet that includes baby arugula.,{'Breakfast': 'Pumpkin Quiche with Quinoa Crus...

In [8]:
## data3 - alternative_diet
file_path3 = "/data/jaesung/llm_for_diabetes/src/data/data3_multimodal/version1/snapme_test_instruction_dataset_v6.json"
with open(file_path3, 'r', encoding='utf-8') as f:
    data3_alternative_diet = json.load(f)

data3_alternative_diet = pd.DataFrame(data3_alternative_diet)
data3_alternative_diet['dataset'] = 'diabetes_food_hub'
data3_alternative_diet['split_data'] = 'test'
data3_alternative_diet['task'] = 'alternative_diet'

data3_alternative_diet = data3_alternative_diet[['dataset', 'split_data', 'task', 'instruction', 'input', 'output']]

data3_alternative_diet.head(2)

,dataset,split_data,task,instruction,input,output
0,diabetes_food_hub,test,alternative_diet,"Based on the previous meal, suggest the next m...","Mixed salad greens, raw",Greek Salmon and Veggie Packets is recommended...
1,diabetes_food_hub,test,alternative_diet,"Based on the previous meal, suggest the next m...","Mixed salad greens, raw",Greek Salmon and Veggie Packets is recommended...

In [9]:

test = pd.concat([data1, data2_daily_diets, data3_alternative_diet], axis=0)

In [10]:
final = pd.concat([train, test], axis=0)

final.head()

,dataset,split_data,task,instruction,input,output
0,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 42-year-old woman presents to the emergency ...,D) Ursodeoxycholic acid
1,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 69-year-old man presents to his dermatologis...,B) Immunosuppression
2,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 64-year-old female with a long-standing hist...,B) Deep peroneal nerve
3,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,An endocrinologist is working with a pharmaceu...,C) Sitagliptin
4,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A pediatrician is investigating determinants o...,D) There is a positively correlated linear ass...

In [11]:
final[final['split_data']=='train']['task'].value_counts()

task
daily_diets         10655
alternative_diet     7046
dfh_info             5344
summarization        4000
generation           4000
nli                  1210
qa_objective_3       1106
qa_objective_1       1000
qa_objective_2       1000
re                    900
ie                    548
Name: count, dtype: int64

In [12]:
final.reset_index(drop=True, inplace=True)

final.to_json("/data/jaesung/llm_for_diabetes/src/data/instruction_dataset.json", orient='columns', indent=4)

In [13]:
print(len(train))
print(len(test))
print(len(final))

36809
6269
43078

In [14]:
final.head(2)

,dataset,split_data,task,instruction,input,output
0,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 42-year-old woman presents to the emergency ...,D) Ursodeoxycholic acid
1,medqa,train,qa_objective_1,Select the most appropriate answer for the giv...,A 69-year-old man presents to his dermatologis...,B) Immunosuppression

In [15]:
final['task'].value_counts()

task
daily_diets         13320
alternative_diet     8611
dfh_info             5344
summarization        4600
generation           4600
nli                  1394
qa_objective_3       1236
qa_objective_1       1150
qa_objective_2       1150
re                   1035
ie                    638
Name: count, dtype: int64

In [16]:
from datasets import Dataset
from dotenv import load_dotenv
import os
from datasets import Dataset, DatasetDict

final['input'] = final['input'].apply(lambda x: json.dumps(x) if isinstance(x, dict) else x)
final['output'] = final['output'].apply(lambda x: json.dumps(x) if isinstance(x, dict) else x)

load_dotenv()

hf_token = os.getenv("HF_TOKEN")
dataset = Dataset.from_pandas(final)

train_df = final[final['split_data'] == 'train']
test_df = final[final['split_data'] == 'test']

train_dataset = Dataset.from_pandas(train_df)
test_dataset = Dataset.from_pandas(test_df)

dataset_dict = DatasetDict({
    "train": train_dataset,
    "test": test_dataset
})

dataset_dict.push_to_hub("passionMan/diabetes_v11", token=hf_token) # Need to fix

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/37 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/7 [00:00<?, ?ba/s]

CommitInfo(commit_url='https://huggingface.co/datasets/passionMan/diabetes_v11/commit/9e296f7168ff3481754a308d2b183260a50b8f22', commit_message='Upload dataset', commit_description='', oid='9e296f7168ff3481754a308d2b183260a50b8f22', pr_url=None, repo_url=RepoUrl('https://huggingface.co/datasets/passionMan/diabetes_v11', endpoint='https://huggingface.co', repo_type='dataset', repo_id='passionMan/diabetes_v11'), pr_revision=None, pr_num=None)